/Code/CovidCare/CovidCare/build/
/Code/CovidCare/CovidCare/nbproject/private/
/Code/CovidCare2/CovidCare2/nbproject/private/
/Code/CovidCare2/CovidCare2/build/
/Code/CovidCare_Final/nbproject/private/
/Code/CovidCare_Final/build/
/Code/CovidCare_Final/dist/
/Code/CovidCare_Chat/nbproject/private/