<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoController</servlet-name>
        <servlet-class>Controller.PatientInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tutorial</servlet-name>
        <jsp-file>/views/tutorialCovid.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TimetableController</servlet-name>
        <servlet-class>Controller.TimetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimetableEventServlet</servlet-name>
        <servlet-class>Controller.TimetableEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientController</servlet-name>
        <servlet-class>Controller.PatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>Controller.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalInfoController</servlet-name>
        <servlet-class>Controller.HospitalInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatroomServlet</servlet-name>
        <servlet-class>Controller.ChatroomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyQuestionController</servlet-name>
        <servlet-class>Controller.VerifyQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementAccountController</servlet-name>
        <servlet-class>Controller.ManagementAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>Controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusAccountController</servlet-name>
        <servlet-class>Controller.ChangeStatusAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewsController</servlet-name>
        <servlet-class>Controller.CreateNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostVaccinateController</servlet-name>
        <servlet-class>Controller.AddPostVaccinateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePostVaccinateController</servlet-name>
        <servlet-class>Controller.ManagePostVaccinateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePostVaccinateController2</servlet-name>
        <servlet-class>Controller.ManagePostVaccinateController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestController</servlet-name>
        <servlet-class>Controller.ProcessRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestController</servlet-name>
        <servlet-class>Controller.ManageRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostPatientController</servlet-name>
        <servlet-class>Controller.ListPostPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRequestController</servlet-name>
        <servlet-class>Controller.AddRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPostVaccinateController</servlet-name>
        <servlet-class>Controller.editPostVaccinateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewListRequestController</servlet-name>
        <servlet-class>Controller.viewListRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoController</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tutorial</servlet-name>
        <url-pattern>/tutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableController</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimetableEventServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientController</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalInfoController</servlet-name>
        <url-pattern>/hospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatroomServlet</servlet-name>
        <url-pattern>/chatroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyQuestionController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementAccountController</servlet-name>
        <url-pattern>/managementAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusAccountController</servlet-name>
        <url-pattern>/changeStatusAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewsController</servlet-name>
        <url-pattern>/createNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostVaccinateController</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePostVaccinateController</servlet-name>
        <url-pattern>/managePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePostVaccinateController2</servlet-name>
        <url-pattern>/managePost2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRequestController</servlet-name>
        <url-pattern>/processRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestController</servlet-name>
        <url-pattern>/manageRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostPatientController</servlet-name>
        <url-pattern>/listPostPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequestController</servlet-name>
        <url-pattern>/addRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPostVaccinateController</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewListRequestController</servlet-name>
        <url-pattern>/viewListRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/views/error.jsp</location>
    </error-page>
</web-app>
